

html, body {
    width: 100%;
} 


.main{
    display: flex;
    justify-content: center;
}

.side-hero {
    flex-grow: 1;
    position: relative;
    width: 80vw;
    min-width: 345px;
    height: 100vh;
    background: url(./Images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
  }

.side-hero div {
    width: 100%;
    background-color: rgba(57, 57, 57, 0.527);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.side-hero img {
    width: 5rem;
    padding: 10px;
  }

.side-hero p {
    font-size: .8rem;
    color: rgb(215, 215, 215);
    position: absolute;
    bottom: 0px;
    right: 5px;
  }

.form-section{
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}







.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.logo img{
    width: 50px;
    height: auto;
}

.links{
    display: flex;
    font-size: 18px;
    color:#E5E7EB;
    justify-content: center;
    margin: 0;
    gap: 16px;
    list-style: none;
}



.body{
    display: flex;
    flex-direction: column;
}






