

html, body {
    width: 100%;
} 


.main{
    display: flex;
    justify-content: center;
}

.side-hero {
    flex-grow: 1;
    position: relative;
    width: 80vw;
    min-width: 345px;
    height: 100vh;
    background: url(./Images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 233, 233);
  }

.side-hero div {
    width: 100%;
    background-color: rgba(57, 57, 57, 0.527);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.side-hero img {
    width: 5rem;
    padding: 10px;
  }

.side-hero p {
    font-size: .8rem;
    color: rgb(215, 215, 215);
    position: absolute;
    bottom: 0px;
    right: 5px;
  }

.form-section{
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}


.header p{
    font-weight:bold;
    color: rgb(55, 55, 55);
    font-size: 20px;
    padding: 10px 30px;
}

.input-section{
    font-weight:bold;
    color: rgb(55, 55, 55);
    font-size: 20px;
}

.input-section p{
    padding:10px 0px;
}

.form{
    background-color: #dddada;
    padding: 10px 30px;
}

.form div{
    padding:5px;
}

label{
    color:rgb(55, 55, 55);
    font-size: 16px;
}

button{
    background-color: rgb(69, 104, 69);
    border: None;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 50px;
    color:white;
    font-weight: bold;
    margin:10px 30px;
}



.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.logo img{
    width: 50px;
    height: auto;
}

.links{
    display: flex;
    font-size: 18px;
    color:#E5E7EB;
    justify-content: center;
    margin: 0;
    gap: 16px;
    list-style: none;
}



.body{
    display: flex;
    flex-direction: column;
}






